@import "normalize.css";

* {
  margin: 0;
  padding: 0;
}

.welcome-screen-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-container {
  flex: 70;
  background: var(--background-color);
  transition: background-color 0.25s ease-in-out;
  color: var(--text-color);
  height: 100%;
  display: flex;
  justify-content: center;
}

.auth-container {
  flex: 30;
  height: 100%;
  display: flex;
  background: var(--background-color-transparent);
  transition: background-color 0.25s ease-in-out;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  user-select: none;
}

.login-container {
  color: var(--text-color);
  flex: 9;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login-container h1 {
  font-size: 2.8em;
  margin-bottom: 0.5em;
  background: linear-gradient(
    to right,
    #4796d6 20%,
    #6946a7 30%,
    #4796d6 70%,
    #396eb9 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.nav-bar {
  display: flex;
  width: 100%;
  height: min-content;
  align-items: start;
}

@media screen and (max-width: 1023px) {
  .hero-section-container {
    display: none;
  }
}
